*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
!debug.keystore
/app/release/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
.navigation/
captures/
_STORE
*.log
